*{
    margin: 0;
    padding: 0;

}
body{
    background-color: aqua;
}
h1{
    font-size: 50px;
    color: red;
    margin-top: 100px;
    margin-left: 560px;

}
input{
    width: 200px;
    height: 50px;
    background-color: blueviolet;
    margin-top: 50px;
    margin-left: 580px;

}
button{
    margin-left: 50px;
    width: 100px;
    height: 50px;
    background-color: blue;
}
ul{
    margin-left: 620px;
    font-size: 20px;
    color: rgb(174, 50, 205);
}